@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import './app/search-form/search-form.theme.scss';
@import './app/search-result-item/search-result-item.theme.scss';
@import './app/page-picker/page-picker.theme.scss';

@mixin make-theme($theme) {
  @include mat.all-component-themes($theme);

  // body styles
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  background-color: mat.get-color-from-palette($background, background);
  color: mat.get-color-from-palette($foreground, text);

  &.primary-background {
    background-color: mat.get-color-from-palette($primary);
  }

  // components styles
  @include search-form-theme($theme);
  @include search-result-item-theme($theme);
  @include page-picker-theme($theme);
}

@include mat.core();

.indigo-light-theme {
  $theme: mat.define-light-theme(
    mat.define-palette(mat.$indigo-palette),
    mat.define-palette(mat.$purple-palette)
  );

  @include make-theme($theme);
}

.green-light-theme {
  $theme: mat.define-light-theme(
    mat.define-palette(mat.$green-palette, 800),
    mat.define-palette(mat.$orange-palette)
  );

  @include make-theme($theme);
}

.pink-dark-theme {
  $theme: mat.define-dark-theme(
    mat.define-palette(mat.$pink-palette),
    mat.define-palette(mat.$purple-palette)
  );

  @include make-theme($theme);
}

.orange-dark-theme {
  $theme: mat.define-dark-theme(
    mat.define-palette(mat.$orange-palette, 800),
    mat.define-palette(mat.$light-blue-palette)
  );

  @include make-theme($theme);
}