@mixin page-picker-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  .page-picker-button.selected {
    background-color: mat-color($background, hover);
    color: mat-color($primary);
    font-weight: 900;
  }
}